.title {
    font-size: 30px;
    font-weight: 600;
    width: '100%';
    text-align: center;
}

.value {
    font-size: 20px;
    width: '100%';
    text-align: left;

}

.card {
    display : inline-grid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 20px;
}
.card_multiple {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 20px;
}