.titleColumn {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: #c1c1c1;
    padding: 5px;
}

.divCreateNewCard {
    justify-content: end;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    cursor: pointer;
}

.divCreateNewCard:hover {
    font-size: 14px;
    cursor: pointer;
}

.subjectCard {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #1b2330;
    color: white;
}

.descriptionCard {
    padding: 10px;
    height: 100px;
    overflow-y: auto;
}

.cardKanban {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.buttonCreateNewColumn {
    background-color: #444a52;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: -5px;
    margin-left: 25px;
    color: white;
    font-weight: 600;
}

.cardContent {
    padding: 10px;
}

.cardTotalValueAndBusiness {
    margin-left: 20px;
    margin-top: 5px;
}

.divViewCardCContent {
    display: flex;
    min-width: 800px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     height: 60px;
    align-items: center;
    margin: 10px 0px;
    border-radius: 10px;
}

.divViewCardCContentObservation {
    min-width: 800px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    min-height: 60px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}


.labelViewCardCContentObservation {
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
}


.divViewCardCContent :first-child {
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    margin-left: 5px;
}


.divViewCardCContent :nth-child(2) {
    padding: 5px;
    font-size: 18px;

}