.header {
    color: #fff;
    height: 120px;
    display: flex;
    background: linear-gradient(to right, #252f3e 0%, #1b2330 100%);
    min-height: 120px;
    background-size: cover;
     background-color: #1b2330;
     border-radius: 0%;
    position: fixed;
    z-index: 10;
    margin-top: -120px;
    width: 85%;
}

.table {
    margin-top: 120px;
    width: 100%;
}